@import '../abstracts/mixins';
@import '../abstracts/variable';

.navbar-custom {
    background-color: $secondaryColour;

    &__top-div{
        background-color: #ffffff20;
        @include paddingVertical(0.25em);
        
        & ul {
            margin: 0 auto;
            width: $largeDeviceWidth;
        }

        & li {
            margin-left: 2.5em;
            cursor: pointer;

        }

        & a {
            font-size: $smallFont;
            font-weight: 600;
            color: $lightFont;
        }
    }

    &__bottom-div {
        width: $largeDeviceWidth;
        margin: 0 auto;
        @include paddingVertical(0.5em);
    }

    &__brand {
        color: $lightFont;
        cursor: pointer;
    }
}

