.navbar-custom {
    background-color: $secondaryColour;
    position: relative;

    &__top-div{
        background-color: #ffffff20;
        @include paddingVertical(0.25em);
        
        & ul {
            margin: 0 auto;
            width: $largeDeviceWidth;
        }

        & li {
            margin-left: 1.5em;
            cursor: pointer;

        }

        & a {
            font-size: $smallFont;
            font-weight: 600;
            color: $lightFont;
        }
    }

    &__bottom-div {
        width: $largeDeviceWidth;
        margin: 0 auto;
        @include paddingVertical(0.5em);
    }

    &__brand {
        color: $lightFont;
        cursor: pointer;
    }

    &__pop-over{
        position: absolute;
        top: 25px;
        border: 1px solid $secondaryColour;
        border-radius: 5px;
        background-color: white;
    }

    &__user-account-div {
        position: relative;

        &__pop-over {
            position: absolute;
            top: 35px;
            right: -60px;
            border: 1px solid $secondaryColour;
            border-radius: 5px;
            background-color: white;
            width: 150px !important;
            min-height: 50px;
            padding: 0;
            overflow: hidden;
            z-index: 5;

            & li {
                margin: 0; 
                height: 2em;
                border-bottom: 1px solid #00000030;
                transition: background-color 0.3s;

                &:hover {
                    background-color: lighten($primaryColour, 20%);
                }

                &:last-child {
                    border-bottom: unset;
                }
            }

            &-button {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                outline: none;
                border: none;
                background-color: transparent;
                @include paddingHorizontal(0.8em);

                & i {
                    color: $secondaryColour;
                    font-size: 0.9em;
                    margin-right: 12px;
                }

                & h6 {
                    color: $secondaryColour;
                    font-size: 0.9em;
                    margin: 0;
                }
            }
        }

        & .pop-over-hidden {
            display: none;
        }
    }

    &__icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        border-radius: 50px;
        outline: none;
        border: none;
        background-color: #FFFFFF30;
    }

    &__text-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        outline: none;
        border: none;
        background-color: transparent;
        border-right: 2px solid white;
        padding-right: 25px;

        & h6 {
            color: $lightFont;
            font-size: 0.85em;
            margin: 0;
        }
    }

    & li:last-child button {
        border-right: none;
        padding-right: 0;
    }

    &__icon {
        color: $lightFont;
        font-size: 0.8em;
    }

    & .drawer-button, & .drawer-button__div {
        display: none;
    }
}

// MOBILE SCREEN STYLES

@include mobileScreen {
    .navbar-custom {
        
        &.toggled {
            position: fixed;
            z-index: 4;
            top:0;
            right: 0;
            left: 0;
        }

        &__top-div{
            display: none;
        }

        &__bottom-div {
            width: 100%;
            margin: 0;
            padding: 0 1em;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8em;
        }
    
        &__brand {
            margin: 0;
        }
    
        & .drawer-button {
            display: flex;
            width: 30px;
            border: none;
            outline: none;
            background-color: transparent;
            height: 22px;
            flex-direction: column;
            justify-content: space-between;

            &__line {
                background-color: white;
                width: 100%;
                height: 3px;
            }

            &__div {
                display: block;
                position: absolute;
                top: 80px;
                width: 100vw;
                right: 0;
                height: calc(100vh - 80px);
                overflow-y: scroll;
                background-color: lighten($primaryColour, 20%);
                z-index: 6;
                padding: 0.8em;
                transition: right 0.3s;

                &__hide {
                    display: block;
                    position: absolute;
                    width: 100vw;
                    top: 80px;
                    right: 105vw;
                    height: calc(100vh - 80px);
                    overflow-y: scroll;
                    background-color: lighten($primaryColour, 20%);
                    z-index: 6;
                    padding: 0.8em;
                    transition: right 0.3s;
                    right: 105vw;
                }

            }

            &__input-button {
                position: absolute;
                z-index: 2;
                top: 0;
                right:0;
                height: 100%;
                padding: 0 0.5em;
                background-color: $secondaryColour;
                color: $lightFont;
                border-radius: 5px;
                border: none;
            }

            &__menu-div{
                & ul {
                  padding: 0;
                }
            }

            &__menu-item {
                height: 2.8em;
                width: 100%;
                border-bottom: 1px solid #FFFFFF80;

                & button {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    padding: 0 0.5em !important;

                }

                & h6 {
                    font-weight: 700;
                    margin: 0;
                    color: rgb(111, 111, 111);
                }

                & i {
                    color: rgb(111, 111, 111);
                }
            }

            &__menu-div h5{
                color: $secondaryColour;
                font-weight: 700;
            }

            &__input-div {
                width: 100%;
                height: 2.5em;
                margin-bottom: 20px;
                position: relative;
            }

            &__input {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border: 1px solid $secondaryColour;
                @include paddingHorizontal(1em);
            }

            &__sign-in-div {
                display: flex;
                justify-content: space-between;
                height: 2em;
                width: 100%;
                margin-bottom: 30px;
            }

            &__sign-in-button {
                margin-right: 20px;
                height: 100%;
                border-radius: 5px;
                background-color: $secondaryColour;
                color: white;
                border: none;
                flex: 1
            }

            &__register-button {
                flex: 1;
                height: 100%;
                border-radius: 5px;
                border: 1px solid $secondaryColour;
                background-color: transparent;
                color: $secondaryColour;
            }

            &__sign-out-div {
                height: 2em;
                width: 100%;
                margin-top: 30px;
            }

            &__sign-out-button {
                height: 100%;
                color: white;
                border: none;
                background-color: $secondaryColour;
                width: 100%;
                border-radius: 5px;
            }
        }
    }   
}
