.new-item-form {
    &__input-div {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: $secondaryColour;
        font-weight: 700;
        margin-bottom: 5px;

        &--alt {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h6 {
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        & span {
            font-weight: 500;
            margin-left: 10px;
            color: $secondaryColour;
        }

        & span.new-item-form__span--alt {
            font-weight: 500;
            margin-bottom: 0;
            color: rgb(223, 26, 26);
        }
    }

    &__file-input-outer-div {
        display: flex;
        gap: 10px;
        margin-top: 15px;
    }

    &__file-input-div {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        position: relative;

        &:first-child {
            & label {
              & div {
                padding-top: 15px;
              }
            }
        }

        & label {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            position: relative;

            & div{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background-color: $primaryMidGreyColour;
                border: 3px dashed $primaryGreyColour;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5px;
                cursor: pointer;

            }

            & i, & h6 {
                font-size: 0.9em;
                color: $secondaryColour;
            }

            & h6 span {
                display: block;
                color: $secondaryColour;
                margin-top: 1px;
                font-size: 0.75em;
            }
        }
    }

    &__preview-div {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: $primaryMidGreyColour;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;

        }

        & button {
            position: absolute;
            width: 2em;
            height: 2em;
            border: none;
            top: -0.4em;
            right: -0.4em;
            background-color: rgba(176, 12, 12, 0.955);
            color: #fff;
            font-size: 0.6em;
            border-radius: 50%;
            z-index: 5;
        }
    }

    &__upload-image-input {
        display: none;
    }

    &__input {
        height: 2.5em;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $primaryGreyColour;
        @include paddingHorizontal(1em);
    }

    &__radio-outer-div {
        justify-content: flex-start;
        flex-direction: column;

        &--promote {
            flex-direction: row;
        }
    }

    &__radio-inner-div {
        display: flex;
        align-items: center;
        margin-right: 50px;
        margin-bottom: 8px;
        height: 2em;
    }

    &__radio-input {
        margin-right: 8px;
        width: 15px;
        height: 15px;
    }

    &__textarea-div {
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        border-radius: 5px;
        border: 1px solid $primaryGreyColour;
        padding: 0.5em;
        width: 100%;
        height: 120px;
    }

    &__radio-label {
        font-weight: 600;
        color: $secondaryColour;
    }

    &__upload-image-div {
        flex-direction: column;
    }

    &__promote-item-div {
        flex-direction: column;
    }

    &__post-item-button {
        border: none;
        padding: 0.5em 1em;
        border-radius: 50px;
        font-weight: 700;
        color: white;
        background-color: $secondaryColour;
    }
}

@include mobileScreen{
    .new-item-form {
        &__radio-inner-div--promote {
            flex-direction: column;
            margin: 8px 0 15px;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__promote-item-div {
            flex-direction: column;
        }

        &__post-item-button {
            border: none;
            padding: 0.5em 1em;
            border-radius: 50px;
            font-weight: 700;
            color: white;
            margin: 20px 0;
            background-color: $primaryColour;
        }
    }
}