.premium-account-box {
    border-radius: 5px;
    border: 1px solid $secondaryColour;
    padding: 15px;
    background-color: lighten($primaryColour, 20%);
    margin-bottom: 20px;

    & p {
        line-height: 1.3;
        color: $secondaryColour;
    }

    &__button {
        width: 100%;
        height: 2.5em;
        border-radius: 5px;
        background-color: $secondaryColour;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;                                    

        & h5 {
            color: $lightFont;
            margin: 0;
            font-weight: 700;
            text-align: center;
            letter-spacing: 0.8px;
        }
    }
}

