.tabs-custom {
    margin-bottom: 20px;
    border-bottom: 1px solid $primaryGreyColour;

    &__tab-item {
        background-color: transparent;
    }

    &__tab-item button{

        font-weight: 600;
        color: $darkFont;

        &:hover {
            color: $darkFont !important;
            border-bottom: 1px solid $primaryGreyColour !important;
        }

        &.active {
            color: $darkFont !important;
            border: 1px solid $primaryGreyColour !important;
            border-bottom: 1px solid $backgroundColour !important;
            background-color:  transparent !important;

        }
    }

    &__empty-div {
        width: 50%;
        min-height: 250px;
        border-radius: 5px;
        margin: 80px auto 30px;
        background-color: rgb(232, 232, 232);
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2.5em;

        & * {
            color: rgb(158, 158, 158);
            text-align: center;
        }

        & i {
            font-size: 5em;
        }
    }

    &__reload {
        background-color: $secondaryColour;
        margin-top: 30px;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px 15px;
        font-weight: 600;
    }
}

@include mobileScreen {
    .tabs-custom {
        &__empty-div {
            width: 90%;
            min-height: 250px;
            margin: 30px auto;
            padding: 2.5em;
    
            & i {
                font-size: 5em;
            }
        }
    }
}