.product-card {
    width: 100%;
    height: auto;
    position: relative;

    &__add-to-wish-list {
        background-color: white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        border: 1px solid $secondaryColour; 
        border: 1px solid $primaryGreyColour; 
        position: absolute;
        top: 89px;
        transition: all 0.3s;
        right: 11px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: $secondaryColour;
            background-color: $primaryYellowColour;
        }

        &:hover &__icon{
            color: white;
        }

        &:hover .product-card__link{
            background-color: lighten($primaryColour, 20%);
        }

        &__icon {
            font-size: 0.9em;
            color: $darkFont;
            transition: all 0.3s;
        }
    }

    &__link {
        display: block;
        border-radius: 5px;
        border: 1px solid $primaryGreyColour;
        transition: all 0.3s;
        padding: 6px;

        &:hover {
            border: 1px solid lighten($secondaryColour, 10%);
            background-color: $primaryMidGreyColour;
        }

        &:focus {
            outline: 2px solid lighten($secondaryColour, 10%);
        }
    }

    &__image-div {
        border-radius: 5px;
        width: 100%;
        height: 120px;
        background-color: grey;
        margin-bottom: 5px;
    }

    &__product-price {
        color: $secondaryColour;
        margin-bottom: 5px;
    }

    &__product-name {
        line-height: 1.1;
        height: 2.4em;
        margin-bottom: 5px;
    }

    &__product-location-div {
        margin-bottom: 10px;
    }

    &__product-location-icon {
        font-size: 0.8em;
        color: rgb(157, 157, 157);
    }

    &__product-location-name {
        margin: 0 0 0 8px;
        font-size: 0.85em;
        line-height: 0.8;
    }

    &__product-condition-div {
        display: inline-flex;
        height: 1.1em;
        background-color: $primaryGreyColour;
        border-radius: 5px;
        padding: 12px 8px;
        justify-content: center;
        align-items: center;
    }

    &__product-condition {
        margin: 0;
        font-weight: 500;
        color: $darkFont;
        font-size: 0.8em;
        line-height: 0.8;
    }

    &__promotion-div {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 3px 8px;
        background-color: rgb(209, 91, 109);
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__promotion {
        font-weight: 500;
        font-size: 0.8em;
        color: $lightFont;
        margin: 0;
    }
}