.search__categories-box {
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }
    
    button {
        border: none;
        background-color: $primaryMidGreyColour;
        border: 1px solid $primaryGreyColour;
        padding: 0.5em 1em;
        border-radius: 50px;
        color: $secondaryColour;
        font-weight:700;
        letter-spacing: 0.8px;
        margin: 0.3em;
        
    }
}