.sell-now {
    background-color: $primaryColour; 
    border-radius: 50px;
    padding: 0.5em 1.5em; 
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
    border: 1px solid $secondaryColour;

    & h6 {
        margin-bottom: 0;
        color: $lightFont;
    }

    &:hover {
        background-color: darken($primaryColour, 5%); 
        border: 1px solid darken($primaryColour, 5%);
    }

    &:active {
        border: 1px solid $secondaryColour !important;
        background-color: $secondaryColour !important;
    }
}

@include mobileScreen{
    .navbar-custom{
        & .sell-now {
            display: none;
        }
    }
}