.modal {
    background-color: #FFFFFF80;
}

.modal-body {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid $secondaryColour;
    box-shadow: 4px 4px 8px #00000010;
}

.modal__custom-content {

    &-left {
        flex: 4;
        background-color: $secondaryColour;
        padding: 4em 1.5em;

        & h2 {
            font-weight: 700;
            color: $lightFont;
        }

        & .line {
            height: 3px;
            width: 100px;
            background-color: $primaryColour;
            margin-bottom: 10px;
        }

        & p {
            line-height: 1.4;
            color: $lightFont;
            font-weight: 600;
            width: 80%;
        }
    }
    &-right {
        flex: 8;
        background-color: white;
        padding: 3em 2.5em;
        position: relative;

        & .button-close-custom {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        & form input {
            width: 100%;
            height: 2.5em;
            border-radius: 5px;
            border: 1px solid $secondaryColour;
            margin-bottom: 10px;
            padding: 0 1em;

            &:focus {
                outline: 2px solid $primaryColour;
            }
        }

        & .check-box-div {
            display: flex;
            align-items: center;
            margin: 10px 0;

            & input[type="checkbox"] {
                width: 1em;
                height: 1em;
                margin: 0;
                margin-right: 12px;
                border: 1px solid $secondaryColour;
            }

            & h6 {
                margin: 0;
                font-size: 0.9em;
            }
        }

        & .register-button {
            height: 2.5em;
            border-radius: 5px;
            background-color: $secondaryColour;
            color: $lightFont;
            display: block;
            font-weight: 700;
            text-align: center;
            line-height: 2.5;
            letter-spacing: 0.8px;
            margin-bottom: 15px;

            &:hover {
                background-color: lighten($secondaryColour, 5%);
            }
        } 

        & .switch-to-signin {
            font-size: 0.95em;
            text-align: center;
            margin: 0;

            & span {
                color: $secondaryColour;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}



.modal-body__left-inner-div{
    height: 100%;
    width: 100%;
    background-color: $secondaryColour;
}

.modal-body__left, .modal-body__right {
    padding: 0;
}