.start-chat-button {
    padding: 0.5em 1.5em;
    border-radius: 50px;
    position: absolute;
    z-index: 4;
    bottom: 20px;
    right: 20px;
    background-color: $secondaryColour;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;

    & * {
        font-size: 1.2em;
        color: $lightFont;
        margin: 0;
    }

    & i {
        margin-right: 10px;
    }

    &:hover {
        background-color: lighten($secondaryColour, 10%);
    }
}