.start-chat-button {
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    bottom: 25px;
    right: 50px;
    background-color: $secondaryColour;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    height: 60px;
    width: 60px;
    box-shadow: 4px 4px 5px #00000030; 


    & * {
        font-size: 1.2em;
        color: $lightFont;
        margin: 0;
    }

    & i {
        margin-top: 5px;
    }

    &:hover {
        background-color: lighten($secondaryColour, 10%);
    }
}